.env
backend/data/
backend/trained_models/
__pycache__/
.DS_Store
.vscode
.venv/
logs/

# Exclude Airflow runtime and configuration files
airflow-webserver.pid
airflow.cfg
airflow.db
webserver_config.py